
*{
    padding: 0;
    margin: 0;
    box-shadow: border-box;
}
body{
    color: rgb(7, 7, 7);
}

/*{}*/

.bar_coulor{
    display: flex;
    justify-content: center ;
    align-items: center;

}
.bar_coulor .jaune {
    background-color: rgb(253, 230, 20);
    height: 30px;
    width: 50%;

}
.marron_logreseau{
    background-color: rgb(19, 21, 136);
    height: 30px;
    width: 50%;
}
/* section hero */
.hero{
    margin: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.hero .logo{
    color: black;
    font-size: 25px;
    font-weight: 800;
}
    
.hero span{
    color: rgb(19, 21, 136);
    text-decoration: none;
    font-size: 35px;
    font-weight: 800;
}
.hero .navigation ul{
    padding-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.navigation ul li{
    list-style-type: none;
}
.navigation ul li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(19, 21, 136);
}
.hero button a{
    text-decoration: none;
    color: black;
}
.hero button{
    text-decoration: none;
    padding: 5px;
    border: 2px solid rgb(253, 230, 20);
    background-color: rgb(253, 230, 20);
    color: black;
    font-size: 15px;
    font-weight: 600;   
}
.hero button:hover{
    padding: 8px;
    border: 1px solid rgb(253, 230, 20);
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: 600;
}
/*section herro2 début*/

.herro2{
    margin: 3% 8%;
    display: flex;
    justify-content: space-between;
}
.herro2 .texte{
    color: black;
    margin-left: 40px;
    padding: 10% 0%;
}
h5{
    font-size: 15px;
    color: rgb(19, 21, 136)
}
.herro2 .texte h2{
    margin: 10px 0px;
    font-size: 30px;
}
span{
    color: rgb(253, 230, 20);
    text-decoration: underline;
}
.herro2 .herro_btn{
    margin: 30px 0px;
    display: flex;
    gap: 3rem;
}
.herro2 .herro_btn .btn_un{
    padding: 8px;
    border: 2px solid rgb(253, 230, 20);
    background-color: rgb(253, 230, 20);
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.herro2 .herro_btn .btn_deux{
    padding: 8px;
    border: 1px solid rgb(253, 230, 20);
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.herro2 .image {
    position: relative;
}
.herro2 .image img{
    /*border-radius: 50% 25% 100% 75%;*/
    border-bottom-left-radius: 70%;
    border-top-left-radius: 25%;
}
.herro2 .image .cercle_img{
    display: flex;
    justify-content: center;
    position: relative;
    top: -45%;
    background-color: rgb(94, 24, 2);
    border-radius: 50%;
    width: 26%;
    height: 25%;
}
/*section herro2 fin*/

.image_bg{
    background-image: url(image/r_images_03.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}
/*section a propos debut */
#a_propos{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 15rem;
}
#a_propos .image_wrap{
    position: relative;
    width: max-content;
}
#a_propos .image_wrap img:nth-child(1){
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,1,0.25);
}
#a_propos .image_wrap img:nth-child(2){
    width: 250px;
    position: absolute;
    bottom: -20px;
    right: -160px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
}
#a_propos .information{
    width: 550px;
    height: auto;
}
#a_propos .information h2{
    font-size: 28px;
}
#a_propos .information p{
    margin: 20px;
}
#a_propos .information .pourcentage{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information .pourcentage h4{
    margin: 20px;
    font-size: 28px;
    font-weight: 800;
}
#a_propos .information button{
    margin: 40px 40%;
    width: 160px;
    padding: 8px;
    border: 2px solid rgb(253, 230, 20);
    background-color: rgb(253, 230, 20);
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}
/*section a propos fin */

.image_bg{
    margin-top: 70px;
}
/*section service debut */
.services{
    position: relative;
    z-index: 2;
}
.services .services_list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.services .services_list .service_card{
    background-color: rgb(19, 21, 136);
    border-radius: 15px;
    padding: 2%;
    margin-top: -5%;
    width: 200px;
}
.services_list .service_card .numéro{
    margin-top: -60px;
    margin-left: 65px;
    background-color: rgb(253, 230, 20);
    border: 2px solid rgb(19, 21, 136);
    width: 55px;
    padding: 2% 5%;
    height: 60px;
    border-radius: 50%;
}
.service_card .numéro h4{
    margin: 15px;
    font-size: 26px;
    font-weight: 800;
}
.services_list .service_card p{
    margin: 20px 0px;
    font-size: 17px;
}
.services_list .service_card i{
    font-size: 50px;
    margin-top: 35px;
    margin-left: 76px;
}
.services_list .service_card a{
    font-size: 15px;
    margin-top: 35px;
    margin-left: 70px;
    color: rgb(253, 230, 20);
}
.services button {
    margin: 50px 48%;
    width: 160px;
    padding: 8px;
    border: 2px solid rgb(253, 230, 20);
    background-color: rgb(253, 230, 20);
    color: black;
    font-size: 15px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
}
.services button:hover {
    border: 2px solid rgb(253, 230, 20);
    background-color: rgb(19, 21, 136);
    color: white;
}

/*section service fin */

/*section performence debut */
#performence{
    margin: 0px 19%;
    color: black;
}
#performence .info_perf01{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#performence .info_perf01 img{
    margin-top: 3%;
    margin-left: 3%;
    width: 150px;
    border-radius: 50%;
}
#performence .info_perf01 .texte_p{
     display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

}
#performence .info_perf02{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#performence .info_perf02 .info_block{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.836);
    box-shadow: 0 6px 12px rgba(0,0,0,0.20);
    border-radius: 10px;
}
.info_perf02 .info_block .numéro{
    background-color: rgb(253, 230, 20);
    width: 25px;
    padding: 2% 5%;
    margin-top: 2%;
    height: 30px;
    border-radius: 50%;
}
.info_perf02 .info_block i{
    font-size: 22px;
    padding-left: 3px;
}
.info_perf02 .info_block h2{
    color: rgb(19, 21, 136);
    font-size: 15px;
}
.info_perf02 .info_block p{
    font-size: 11px;
}
/*section performence fin */

/*section image performence*/
#performe_image{
    position: absolute;
    margin: 30px 19%;
    display: flex;
    justify-content: center;
}
#performe_image img:nth-child(1){
    height: 340px;
    border-radius: 15px;
}
#performe_image img:nth-child(2){
    width: 330px;
    height: 240px;
    border-radius: 15px;
    position: relative;
    top: 80px;
    right: 30px;
}
/*section image performence fin */

/*section team debut*/
#team{
    margin-top: 32%;
    /* background-color: rgb(253, 230, 20); */
    background-color: rgb(19, 21, 136);
    padding: 1% ;
}
#team .team_titre{
    margin: 0% 38%;
    width: 500px;
    padding: 0px 20px;
}
#team .team_titre h5{
    color: rgb(253, 230, 20);
    font-weight: 800;
    margin-left: 28%;
}
#team .team_titre p{
    color: white;
    font-size: 26px;
    font-weight: 800;
}
#team .expert_block{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.expert_block .expert01{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid rgb(253, 230, 20);
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    padding: 0.8%;
    background-color: rgba(240, 240, 240, 0.973);
}
.expert_block .expert01 img{
    width: 230px;
    height: 250px;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    margin-left: 10px;
}
.expert01 .imgexpert h5{
    text-align: center;
}
.expert01 .imgexpert p{
    text-align: center;
}

/*section team fin */

/*section réalisation debut*/

#team{
    
}
#team{
    
}

/*section réalisation fin */